name: Update Submodule

on:
  repository_dispatch:
    types:
      - update

  workflow_dispatch:

jobs:
  update_submodule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.GHA_SSH_PRIVATE_KEY }}
          submodules: recursive
      - name: Update submodule
        run: git submodule update --remote
      - name: Check git status
        id: status
        run: echo "status=$(git status -s)" >> $GITHUB_OUTPUT
      - name: Commit
        run: |
          git config --local user.name "Github Actions"
          git config --local user.email "action@github.com"
          git add .
          git status
          git commit -m "Update submodule"
        if: ${{ steps.status.outputs.status }}
      - name: Push
        uses: ad-m/github-push-action@master
        with:
          branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ steps.status.outputs.status }}